body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,  #800080ae, #800060);
    display: flex;
    background-image: url('image.jpg');
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #800060;
}

.display {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 2em;
    border: 1px solid #800060;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #800080ae;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #800060;
}
